<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <script>
        const url = 'https://accounts.spotify.com/en/logout';
        const spotifyLogoutWindow = window.open(url, 'Spotify Logout', 'width=700,height=500,top=40,left=40');
        
        setTimeout(() => {
            spotifyLogoutWindow.close();
            window.location.replace('{{ url_for("home") }}'); // Redirect to home page after closing
        }, 500); // Close window after 0.5 seconds
    </script>
</body>
</html>
